*{
    margin:0px;
    padding: 0px;
    
}

body{
    background: hsl(235, 21%, 11%);
    background-image: url(images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%, cover;
    font-family: 'Josefin Sans', sans-serif; 
}

.max-w{
    max-width: 600px;
}

.c1{
    background: hsl(235, 21%, 11%);
}

li{
    list-style: none;
}

.sombra{
    width: 100%;
    max-width: 576px;
    box-shadow: 1px 150px 35px -10px hsla(235, 20%, 11%, 0.116);
}

a, .btn{
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 500;
}

#cambio-sun{
    cursor: pointer;
}

input[type="text"]{
    background: transparent;
    outline: none;
    border: 0;
    color: #fff;
    width: 90%;
}

input[type="checkbox"]{
    appearance: none;
    background: transparent;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    border: 1px solid hsl(233, 14%, 35%);
    cursor: pointer;
}

input[type="checkbox"]:hover{
    border-radius: 100%;; 
    border: 1px solid transparent; 
    background:linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box; 
-webkit-mask:
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude; 
}

input[type="checkbox"]:checked{
    background-image: url(images/icon-check.svg), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
}

input[type="checkbox"]:checked + p{
    text-decoration: line-through;
    color: hsl(234, 11%, 52%);
}

.cross:hover{
    opacity: 100%;
}

.cross{
    opacity: 0%;
}

p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

h3{
    font-size: 2rem;
}

h6{
    margin-bottom: 0%;
}

.btn{
    background: none;
}

.check{
    width: 1.5rem;
    padding: 8px;
    background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    cursor: pointer;
}

h1{
    font-size: 3rem;
    color: hsl(0, 0%, 98%);
    letter-spacing: 1.3rem;
    font-weight: 600;
}

.c2{
    width: 6%;
    cursor: pointer;
}

.enter::placeholder{
    font-size: 1.1rem;
    width: 100%;
}

.menu-input{
    max-width: 100%;
    background: hsl(235, 24%, 19%);
    border-radius: 15px;
    padding: 0.8rem 1.8rem;
}

.menu-input input{
    font-size: 1.5rem;
    font-weight: 500;
    background: none;
    outline: none;
}

.menu-input input::placeholder{
    color: hsl(234, 11%, 52%);
}

.list-group-item{
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0.8rem 1.8rem;
    border-bottom: 0.3px solid hsl(234, 39%, 85%);
    background: hsl(235, 24%, 19%);
    align-items: center;
    cursor: pointer;
}    

#todo-list{
    border-radius: 5px;
}

.list-group-item.active{
    color: hsla(235, 32%, 92%, 0.671);
    background: hsl(235, 24%, 19%);
    border-top:  0.3px solid rgba(119, 122, 146, 0.342);
    border-bottom: rgba(119, 122, 146, 0.342);
    border-left: hsl(235, 24%, 19%);
    border-right: hsl(235, 24%, 19%);
}

.list-group-item:hover p{
    color: hsl(0, 0%, 100%);
}

.todo{
    width: 80%;
}

.parte-baja{
    background: hsl(235, 24%, 19%);
    color: hsl(234, 11%, 52%);
    border-top:  0.3px solid rgba(119, 122, 146, 0.342);
}

.item-left{
    font-size: 10px;
}

.clear:hover{
    color: hsl(0, 0%, 98%);
}

.act, .comp{
    color: hsl(234, 11%, 52%);
    font-size: 15px;
}

.all{
    font-size: 15px;
}

.options a:hover{
    color: hsl(0, 0%, 98%);
}

footer{
    color:hsl(0, 0%, 100%);
    font-size: 12px;
}

.drag{
    color: hsla(234, 39%, 85%, 0.651);
}

.options2{
    display: none;
}

@media only screen and (max-width: 576px){
    body{
        background: hsl(235, 21%, 11%);
        background-image: url(images/bg-mobile-dark.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: 100%, cover;
        font-family: 'Josefin Sans', sans-serif; 
    }

    .max-w{
        max-width: 600px;
    }

    .nav{
        display: none;
    }

    .options2{
        background: hsl(235, 24%, 19%);
        color: hsl(234, 11%, 52%);
        display: flex;
        border-radius: 3px;
    }

    .cross{
        opacity: 100%;
    }
}
